# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build folder
/client/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database file
/server/chat.db

# Uploaded files
/server/uploads

# Environment variables
.env