# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build folder
/client/dist

# Database file
/server/chat.db

# Uploaded files
/server/uploads

# Log files & environment variables
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env